body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: hsl(0, 0%, 15%);
    
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    border-radius: 20px;
    max-width: 500px;
    overflow: hidden;

}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    text-align: left;
    background-color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 25px ;
    gap: 10px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;

}
button:hover{
    background-color: hsl(0, 0%, 40%);

}
button:active{
    background-color: hsl(0, 0%, 55%);
}